@define-color background #141415;
@define-color foreground #cdcdcd;
@define-color cursor #cdcdcd;

@define-color color0 #252530;
@define-color color1 #d8647e;
@define-color color2 #7fa563;
@define-color color3 #f3be7c;
@define-color color4 #6e94b2;
@define-color color5 #bb9dbd;
@define-color color6 #aeaed1;
@define-color color7 #cdcdcd;
@define-color color8 #606079;
@define-color color9 #e08398;
@define-color color10 #99b782;
@define-color color11 #f5cb96;
@define-color color12 #8ba9c1;
@define-color color13 #c9b1ca;
@define-color color14 #bebeda;
@define-color color15 #d7d7d7;
